*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h3, h4{
    color: rgba(0, 0, 0, 0.881);
    text-align: center;
    padding: 5px;
}

h4{
    font-weight: lighter;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

table{
    color: rgba(0, 0, 0, 0.881);
    margin-top: 1rem;
}

th, td{
    height: 5vh;
}


